<html>
<head>
<title>activity_main.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.ln { color: rgb(0,0,0); font-weight: normal; font-style: normal; }
.s0 { }
.s1 { color: rgb(0,0,128); font-weight: bold; }
.s2 { color: rgb(0,0,255); font-weight: bold; }
.s3 { color: rgb(0,128,0); font-weight: bold; }
</style>
</head>
<BODY BGCOLOR="#ffffff">
<TABLE CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#C0C0C0" >
<TR><TD><CENTER>
<FONT FACE="Arial, Helvetica" COLOR="#000000">
activity_main.xml</FONT>
</center></TD></TR></TABLE>
<pre>

<span class="s0">&lt;</span><span class="s1">RelativeLayout </span><span class="s2">xmlns:android=</span><span class="s3">&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="s0"> 
    </span><span class="s2">xmlns:tools=</span><span class="s3">&quot;http://schemas.android.com/tools&quot;</span><span class="s0"> 
    </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
    </span><span class="s2">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
    </span><span class="s2">android:paddingBottom=</span><span class="s3">&quot;@dimen/activity_vertical_margin&quot;</span><span class="s0"> 
    </span><span class="s2">android:paddingLeft=</span><span class="s3">&quot;@dimen/activity_horizontal_margin&quot;</span><span class="s0"> 
    </span><span class="s2">android:paddingRight=</span><span class="s3">&quot;@dimen/activity_horizontal_margin&quot;</span><span class="s0"> 
    </span><span class="s2">android:paddingTop=</span><span class="s3">&quot;@dimen/activity_vertical_margin&quot;</span><span class="s0"> 
    </span><span class="s2">tools:context=</span><span class="s3">&quot;br.com.retamero.ksoapnusoap.MainActivity&quot;</span><span class="s0">&gt; 
 
    &lt;</span><span class="s1">TableLayout</span><span class="s0"> 
        </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
        </span><span class="s2">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
        </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/tableLayout&quot;</span><span class="s0"> 
        </span><span class="s2">android:layout_below=</span><span class="s3">&quot;@+id/textView2&quot;</span><span class="s0"> 
        </span><span class="s2">android:layout_centerHorizontal=</span><span class="s3">&quot;true&quot;</span><span class="s0"> 
        </span><span class="s2">android:layout_marginTop=</span><span class="s3">&quot;58dp&quot;</span><span class="s0">&gt; 
 
        &lt;</span><span class="s1">TableRow</span><span class="s0"> 
            </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0">&gt; 
 
        &lt;/</span><span class="s1">TableRow</span><span class="s0">&gt; 
 
        &lt;</span><span class="s1">TableRow</span><span class="s0"> 
            </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0">&gt; 
 
        &lt;/</span><span class="s1">TableRow</span><span class="s0">&gt; 
 
        &lt;</span><span class="s1">TableRow</span><span class="s0"> 
            </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0">&gt;&lt;/</span><span class="s1">TableRow</span><span class="s0">&gt; 
 
        &lt;</span><span class="s1">TableRow</span><span class="s0"> 
            </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0">&gt; 
 
        &lt;/</span><span class="s1">TableRow</span><span class="s0">&gt; 
 
        &lt;</span><span class="s1">TableRow</span><span class="s0"> 
            </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0">&gt; 
 
        &lt;/</span><span class="s1">TableRow</span><span class="s0">&gt; 
 
        &lt;</span><span class="s1">TableRow</span><span class="s0"> 
            </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0">&gt; 
 
        &lt;/</span><span class="s1">TableRow</span><span class="s0">&gt; 
 
        &lt;</span><span class="s1">TableRow</span><span class="s0"> 
            </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0">&gt;&lt;/</span><span class="s1">TableRow</span><span class="s0">&gt; 
 
        &lt;</span><span class="s1">TableRow</span><span class="s0"> 
            </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0">&gt;&lt;/</span><span class="s1">TableRow</span><span class="s0">&gt; 
 
        &lt;</span><span class="s1">TableRow</span><span class="s0"> 
            </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0">&gt; 
 
            &lt;</span><span class="s1">TextView</span><span class="s0"> 
                </span><span class="s2">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:textAppearance=</span><span class="s3">&quot;?android:attr/textAppearanceLarge&quot;</span><span class="s0"> 
                </span><span class="s2">android:text=</span><span class="s3">&quot;Suas anotações&quot;</span><span class="s0"> 
                </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/textView3&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_column=</span><span class="s3">&quot;0&quot;</span><span class="s0"> 
                </span><span class="s2">android:textStyle=</span><span class="s3">&quot;bold&quot;</span><span class="s0"> 
                </span><span class="s2">android:textColor=</span><span class="s3">&quot;#2599ff&quot; </span><span class="s0">/&gt; 
        &lt;/</span><span class="s1">TableRow</span><span class="s0">&gt; 
 
        &lt;</span><span class="s1">TableRow</span><span class="s0"> 
            </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0">&gt; 
 
            &lt;</span><span class="s1">TextView</span><span class="s0"> 
                </span><span class="s2">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:text=</span><span class="s3">&quot;Id:&quot;</span><span class="s0"> 
                </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/textView4&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_column=</span><span class="s3">&quot;0&quot;</span><span class="s0"> 
                </span><span class="s2">android:textStyle=</span><span class="s3">&quot;bold&quot; </span><span class="s0">/&gt; 
 
            &lt;</span><span class="s1">TextView</span><span class="s0"> 
                </span><span class="s2">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:text=</span><span class="s3">&quot;id&quot;</span><span class="s0"> 
                </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/textView5&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_column=</span><span class="s3">&quot;1&quot; </span><span class="s0">/&gt; 
        &lt;/</span><span class="s1">TableRow</span><span class="s0">&gt; 
 
        &lt;</span><span class="s1">TableRow</span><span class="s0"> 
            </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0">&gt; 
 
            &lt;</span><span class="s1">TextView</span><span class="s0"> 
                </span><span class="s2">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:text=</span><span class="s3">&quot;Peso:&quot;</span><span class="s0"> 
                </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/textView6&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_column=</span><span class="s3">&quot;0&quot;</span><span class="s0"> 
                </span><span class="s2">android:textStyle=</span><span class="s3">&quot;bold&quot; </span><span class="s0">/&gt; 
 
            &lt;</span><span class="s1">TextView</span><span class="s0"> 
                </span><span class="s2">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:text=</span><span class="s3">&quot;peso&quot;</span><span class="s0"> 
                </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/textView7&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_column=</span><span class="s3">&quot;1&quot; </span><span class="s0">/&gt; 
        &lt;/</span><span class="s1">TableRow</span><span class="s0">&gt; 
 
        &lt;</span><span class="s1">TableRow</span><span class="s0"> 
            </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0">&gt; 
 
            &lt;</span><span class="s1">TextView</span><span class="s0"> 
                </span><span class="s2">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:text=</span><span class="s3">&quot;Altura:&quot;</span><span class="s0"> 
                </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/textView8&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_column=</span><span class="s3">&quot;0&quot;</span><span class="s0"> 
                </span><span class="s2">android:textStyle=</span><span class="s3">&quot;bold&quot; </span><span class="s0">/&gt; 
 
            &lt;</span><span class="s1">TextView</span><span class="s0"> 
                </span><span class="s2">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:text=</span><span class="s3">&quot;altura&quot;</span><span class="s0"> 
                </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/textView9&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_column=</span><span class="s3">&quot;1&quot; </span><span class="s0">/&gt; 
        &lt;/</span><span class="s1">TableRow</span><span class="s0">&gt; 
 
        &lt;</span><span class="s1">TableRow</span><span class="s0"> 
            </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0">&gt; 
 
            &lt;</span><span class="s1">TextView</span><span class="s0"> 
                </span><span class="s2">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:text=</span><span class="s3">&quot;Peitoral Maior:&quot;</span><span class="s0"> 
                </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/textView10&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_column=</span><span class="s3">&quot;0&quot;</span><span class="s0"> 
                </span><span class="s2">android:textStyle=</span><span class="s3">&quot;bold&quot; </span><span class="s0">/&gt; 
 
            &lt;</span><span class="s1">TextView</span><span class="s0"> 
                </span><span class="s2">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:text=</span><span class="s3">&quot;pema&quot;</span><span class="s0"> 
                </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/textView11&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_column=</span><span class="s3">&quot;1&quot; </span><span class="s0">/&gt; 
        &lt;/</span><span class="s1">TableRow</span><span class="s0">&gt; 
 
        &lt;</span><span class="s1">TableRow</span><span class="s0"> 
            </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0">&gt; 
 
            &lt;</span><span class="s1">TextView</span><span class="s0"> 
                </span><span class="s2">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:text=</span><span class="s3">&quot;Peitoral Menor:&quot;</span><span class="s0"> 
                </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/textView12&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_column=</span><span class="s3">&quot;0&quot;</span><span class="s0"> 
                </span><span class="s2">android:textStyle=</span><span class="s3">&quot;bold&quot; </span><span class="s0">/&gt; 
 
            &lt;</span><span class="s1">TextView</span><span class="s0"> 
                </span><span class="s2">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:text=</span><span class="s3">&quot;peme&quot;</span><span class="s0"> 
                </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/textView13&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_column=</span><span class="s3">&quot;1&quot; </span><span class="s0">/&gt; 
        &lt;/</span><span class="s1">TableRow</span><span class="s0">&gt; 
 
        &lt;</span><span class="s1">TableRow</span><span class="s0"> 
            </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0">&gt; 
 
            &lt;</span><span class="s1">TextView</span><span class="s0"> 
                </span><span class="s2">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:text=</span><span class="s3">&quot;Quadril:&quot;</span><span class="s0"> 
                </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/textView14&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_column=</span><span class="s3">&quot;0&quot;</span><span class="s0"> 
                </span><span class="s2">android:textStyle=</span><span class="s3">&quot;bold&quot; </span><span class="s0">/&gt; 
 
            &lt;</span><span class="s1">TextView</span><span class="s0"> 
                </span><span class="s2">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:text=</span><span class="s3">&quot;quadril&quot;</span><span class="s0"> 
                </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/textView15&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_column=</span><span class="s3">&quot;1&quot; </span><span class="s0">/&gt; 
        &lt;/</span><span class="s1">TableRow</span><span class="s0">&gt; 
 
        &lt;</span><span class="s1">TableRow</span><span class="s0"> 
            </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0">&gt; 
 
            &lt;</span><span class="s1">TextView</span><span class="s0"> 
                </span><span class="s2">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:text=</span><span class="s3">&quot;Biceps Esquerdo:&quot;</span><span class="s0"> 
                </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/textView16&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_column=</span><span class="s3">&quot;0&quot;</span><span class="s0"> 
                </span><span class="s2">android:textStyle=</span><span class="s3">&quot;bold&quot; </span><span class="s0">/&gt; 
 
            &lt;</span><span class="s1">TextView</span><span class="s0"> 
                </span><span class="s2">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:text=</span><span class="s3">&quot;bies&quot;</span><span class="s0"> 
                </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/textView17&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_column=</span><span class="s3">&quot;1&quot; </span><span class="s0">/&gt; 
        &lt;/</span><span class="s1">TableRow</span><span class="s0">&gt; 
 
        &lt;</span><span class="s1">TableRow</span><span class="s0"> 
            </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0">&gt; 
 
            &lt;</span><span class="s1">TextView</span><span class="s0"> 
                </span><span class="s2">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:text=</span><span class="s3">&quot;Biceps Direito:&quot;</span><span class="s0"> 
                </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/textView18&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_column=</span><span class="s3">&quot;0&quot;</span><span class="s0"> 
                </span><span class="s2">android:textStyle=</span><span class="s3">&quot;bold&quot; </span><span class="s0">/&gt; 
 
            &lt;</span><span class="s1">TextView</span><span class="s0"> 
                </span><span class="s2">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:text=</span><span class="s3">&quot;bidi&quot;</span><span class="s0"> 
                </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/textView19&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_column=</span><span class="s3">&quot;1&quot; </span><span class="s0">/&gt; 
        &lt;/</span><span class="s1">TableRow</span><span class="s0">&gt; 
 
        &lt;</span><span class="s1">TableRow</span><span class="s0"> 
            </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0">&gt; 
 
            &lt;</span><span class="s1">TextView</span><span class="s0"> 
                </span><span class="s2">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:text=</span><span class="s3">&quot;Triceps Esquerdo:&quot;</span><span class="s0"> 
                </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/textView20&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_column=</span><span class="s3">&quot;0&quot;</span><span class="s0"> 
                </span><span class="s2">android:textStyle=</span><span class="s3">&quot;bold&quot; </span><span class="s0">/&gt; 
 
            &lt;</span><span class="s1">TextView</span><span class="s0"> 
                </span><span class="s2">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:text=</span><span class="s3">&quot;trdi&quot;</span><span class="s0"> 
                </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/textView21&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_column=</span><span class="s3">&quot;1&quot; </span><span class="s0">/&gt; 
        &lt;/</span><span class="s1">TableRow</span><span class="s0">&gt; 
 
        &lt;</span><span class="s1">TableRow</span><span class="s0"> 
            </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0">&gt; 
 
            &lt;</span><span class="s1">TextView</span><span class="s0"> 
                </span><span class="s2">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:text=</span><span class="s3">&quot;Triceps Direito:&quot;</span><span class="s0"> 
                </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/textView22&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_column=</span><span class="s3">&quot;0&quot;</span><span class="s0"> 
                </span><span class="s2">android:textStyle=</span><span class="s3">&quot;bold&quot; </span><span class="s0">/&gt; 
 
            &lt;</span><span class="s1">TextView</span><span class="s0"> 
                </span><span class="s2">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:text=</span><span class="s3">&quot;tres&quot;</span><span class="s0"> 
                </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/textView23&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_column=</span><span class="s3">&quot;1&quot; </span><span class="s0">/&gt; 
        &lt;/</span><span class="s1">TableRow</span><span class="s0">&gt; 
 
        &lt;</span><span class="s1">TableRow</span><span class="s0"> 
            </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0">&gt; 
 
            &lt;</span><span class="s1">TextView</span><span class="s0"> 
                </span><span class="s2">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:text=</span><span class="s3">&quot;Coxa Esquerda:&quot;</span><span class="s0"> 
                </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/textView24&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_column=</span><span class="s3">&quot;0&quot;</span><span class="s0"> 
                </span><span class="s2">android:textStyle=</span><span class="s3">&quot;bold&quot; </span><span class="s0">/&gt; 
 
            &lt;</span><span class="s1">TextView</span><span class="s0"> 
                </span><span class="s2">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:text=</span><span class="s3">&quot;coes&quot;</span><span class="s0"> 
                </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/textView25&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_column=</span><span class="s3">&quot;1&quot; </span><span class="s0">/&gt; 
        &lt;/</span><span class="s1">TableRow</span><span class="s0">&gt; 
 
        &lt;</span><span class="s1">TableRow</span><span class="s0"> 
            </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0">&gt; 
 
            &lt;</span><span class="s1">TextView</span><span class="s0"> 
                </span><span class="s2">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:text=</span><span class="s3">&quot;Coxa Direita:&quot;</span><span class="s0"> 
                </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/textView26&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_column=</span><span class="s3">&quot;0&quot;</span><span class="s0"> 
                </span><span class="s2">android:textStyle=</span><span class="s3">&quot;bold&quot; </span><span class="s0">/&gt; 
 
            &lt;</span><span class="s1">TextView</span><span class="s0"> 
                </span><span class="s2">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:text=</span><span class="s3">&quot;codi&quot;</span><span class="s0"> 
                </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/textView27&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_column=</span><span class="s3">&quot;1&quot; </span><span class="s0">/&gt; 
        &lt;/</span><span class="s1">TableRow</span><span class="s0">&gt; 
 
        &lt;</span><span class="s1">TableRow</span><span class="s0"> 
            </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0">&gt; 
 
            &lt;</span><span class="s1">TextView</span><span class="s0"> 
                </span><span class="s2">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:text=</span><span class="s3">&quot;Panturrilha Esquerda:&quot;</span><span class="s0"> 
                </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/textView28&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_column=</span><span class="s3">&quot;0&quot;</span><span class="s0"> 
                </span><span class="s2">android:textStyle=</span><span class="s3">&quot;bold&quot; </span><span class="s0">/&gt; 
 
            &lt;</span><span class="s1">TextView</span><span class="s0"> 
                </span><span class="s2">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:text=</span><span class="s3">&quot;paes&quot;</span><span class="s0"> 
                </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/textView29&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_column=</span><span class="s3">&quot;1&quot; </span><span class="s0">/&gt; 
        &lt;/</span><span class="s1">TableRow</span><span class="s0">&gt; 
 
        &lt;</span><span class="s1">TableRow</span><span class="s0"> 
            </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0">&gt; 
 
            &lt;</span><span class="s1">TextView</span><span class="s0"> 
                </span><span class="s2">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:text=</span><span class="s3">&quot;Panturrilha Direita:&quot;</span><span class="s0"> 
                </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/textView30&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_column=</span><span class="s3">&quot;0&quot;</span><span class="s0"> 
                </span><span class="s2">android:textStyle=</span><span class="s3">&quot;bold&quot; </span><span class="s0">/&gt; 
 
            &lt;</span><span class="s1">TextView</span><span class="s0"> 
                </span><span class="s2">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:text=</span><span class="s3">&quot;padi&quot;</span><span class="s0"> 
                </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/textView31&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_column=</span><span class="s3">&quot;1&quot; </span><span class="s0">/&gt; 
        &lt;/</span><span class="s1">TableRow</span><span class="s0">&gt; 
 
        &lt;</span><span class="s1">TableRow</span><span class="s0"> 
            </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0">&gt; 
 
            &lt;</span><span class="s1">TextView</span><span class="s0"> 
                </span><span class="s2">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:text=</span><span class="s3">&quot;Quadril Esquerdo:&quot;</span><span class="s0"> 
                </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/textView32&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_column=</span><span class="s3">&quot;0&quot;</span><span class="s0"> 
                </span><span class="s2">android:textStyle=</span><span class="s3">&quot;bold&quot; </span><span class="s0">/&gt; 
 
            &lt;</span><span class="s1">TextView</span><span class="s0"> 
                </span><span class="s2">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:text=</span><span class="s3">&quot;ques&quot;</span><span class="s0"> 
                </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/textView33&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_column=</span><span class="s3">&quot;1&quot; </span><span class="s0">/&gt; 
        &lt;/</span><span class="s1">TableRow</span><span class="s0">&gt; 
 
        &lt;</span><span class="s1">TableRow</span><span class="s0"> 
            </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0">&gt; 
 
            &lt;</span><span class="s1">TextView</span><span class="s0"> 
                </span><span class="s2">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:text=</span><span class="s3">&quot;Quadril Direito:&quot;</span><span class="s0"> 
                </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/textView34&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_column=</span><span class="s3">&quot;0&quot;</span><span class="s0"> 
                </span><span class="s2">android:textStyle=</span><span class="s3">&quot;bold&quot; </span><span class="s0">/&gt; 
 
            &lt;</span><span class="s1">TextView</span><span class="s0"> 
                </span><span class="s2">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:text=</span><span class="s3">&quot;qudi&quot;</span><span class="s0"> 
                </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/textView35&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_column=</span><span class="s3">&quot;1&quot; </span><span class="s0">/&gt; 
        &lt;/</span><span class="s1">TableRow</span><span class="s0">&gt; 
    &lt;/</span><span class="s1">TableLayout</span><span class="s0">&gt; 
 
    &lt;</span><span class="s1">TextView</span><span class="s0"> 
        </span><span class="s2">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
        </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
        </span><span class="s2">android:text=</span><span class="s3">&quot;retorno&quot;</span><span class="s0"> 
        </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/textView2&quot;</span><span class="s0"> 
        </span><span class="s2">android:layout_column=</span><span class="s3">&quot;0&quot;</span><span class="s0"> 
        </span><span class="s2">android:textColor=</span><span class="s3">&quot;#fe53301d&quot;</span><span class="s0"> 
        </span><span class="s2">android:layout_alignParentTop=</span><span class="s3">&quot;true&quot;</span><span class="s0"> 
        </span><span class="s2">android:layout_alignParentLeft=</span><span class="s3">&quot;true&quot;</span><span class="s0"> 
        </span><span class="s2">android:layout_alignParentStart=</span><span class="s3">&quot;true&quot;</span><span class="s0"> 
        </span><span class="s2">android:layout_marginTop=</span><span class="s3">&quot;27dp&quot;</span><span class="s0"> 
        </span><span class="s2">android:textStyle=</span><span class="s3">&quot;bold&quot; </span><span class="s0">/&gt; 
 
    &lt;</span><span class="s1">TextView</span><span class="s0"> 
        </span><span class="s2">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
        </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
        </span><span class="s2">android:textAppearance=</span><span class="s3">&quot;?android:attr/textAppearanceLarge&quot;</span><span class="s0"> 
        </span><span class="s2">android:text=</span><span class="s3">&quot;Resposta do Webservice&quot;</span><span class="s0"> 
        </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/textView&quot;</span><span class="s0"> 
        </span><span class="s2">android:layout_alignParentTop=</span><span class="s3">&quot;true&quot;</span><span class="s0"> 
        </span><span class="s2">android:layout_alignParentLeft=</span><span class="s3">&quot;true&quot;</span><span class="s0"> 
        </span><span class="s2">android:layout_alignParentStart=</span><span class="s3">&quot;true&quot;</span><span class="s0"> 
        </span><span class="s2">android:textStyle=</span><span class="s3">&quot;bold&quot;</span><span class="s0"> 
        </span><span class="s2">android:textColor=</span><span class="s3">&quot;#188e2a&quot; </span><span class="s0">/&gt; 
 
&lt;/</span><span class="s1">RelativeLayout</span><span class="s0">&gt;</span></pre>
</body>
</html>